<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Add Budget for {{club.Name}}</h1>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/club/{{club.ID}}">{{club.Name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Budget</li>
  </ol>
</nav>

{{#each successes}}
  <div class="alert alert-success" role="alert">
    {{this}}
  </div>
{{/each}}
{{#each errors}}
  <div class="alert alert-danger" role="alert">
    {{this}}
  </div>
{{/each}}

<form>
  <div class="form-group">
    <label for="year">Year</label>
    <input type="number" class="form-control" id="year">
  </div>
  <button type="submit" class="btn btn-primary" id="submit">Submit</button>
</form>

<script>
    function submit(e) {
        var year_dom_element = document.getElementById('year');
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: window.location.pathname,
            data: { 
              year: year.value, 
            },
            success: function() {
                window.location.reload();
            },
            failure: function() {
                window.location.reload();
            },
        });
    }

    var submit_dom_element = document.getElementById('submit');
    submit_dom_element.addEventListener('click', submit);
</script>