<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{budget.clubname}}'s {{budget.year}} Budget</h1>
</div>
{{#each lineitems}}
<p>{{number}} {{originalbalance}} {{description}} {{name}} {{otfr}}</p>
{{/each}}