<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{club.Name}}</h1>
</div>

{{#each successes}}
  <div class="alert alert-success" role="alert">
    {{this}}
  </div>
{{/each}}
{{#each errors}}
  <div class="alert alert-danger" role="alert">
    {{this}}
  </div>
{{/each}}

<div class="card shadow mb-4">
  <div class="card-header py-3 container-fluid">
    <div class="row">
      <div class="col-md d-flex align-items-center">
        <h6 class="m-0 font-weight-bold text-primary align-middle">Budgets</h6>
      </div>
      <div class="col-md-2 float-right">
        <a class="btn btn-success float-right" href="/club/{{club.ID}}/add" role="button">Add Budget</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Year</th>
            <th>Original Balance</th>
            <th>Remaining Balance</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Year</th>
            <th>Original Balance</th>
            <th>Remaining Balance</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {{#each budgetYears}}
          <tr>
            <td>{{Year}}</td>
            <td>{{formatMoney OriginalBalance}}</td>
            <td>{{formatMoney RemainingBalance}}</td>
            <td>
              <a class="btn btn-primary mr-1" href="/budget/{{ID}}" role="button">Edit</a><button class="btn btn-danger delete" data-id="{{ID}}" role="button">Delete</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>