<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Line Item {{lineitem.number}}</h1>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Deductions</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {{#each deductions}}
          <tr>
            <td>{{timestamp}}</td>
            <td>{{amount}}</td>
            <td><a class="btn btn-primary" href="/deduction/{{id}}" role="button">Edit</a><button class="btn btn-warning" role="button">Delete</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <a class="btn btn-success" href="/lineitem/{{lineitem.id}}/add" role="button">Add Deduction</a>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#dataTable').DataTable();
  });
</script>