<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Line Item {{lineitem.number}}</h1>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/club/{{lineitem.clubid}}">{{lineitem.clubname}}</a></li>
    <li class="breadcrumb-item"><a href="/budget/{{lineitem.budgetid}}">{{lineitem.budgetyear}} Budget</a></li>
    <li class="breadcrumb-item active" aria-current="page">Line Item {{lineitem.number}}</li>
  </ol>
</nav>

<div class="card shadow mb-4">
  <div class="card-header py-3 container-fluid">
    <div class="row">
      <div class="col-md d-flex align-items-center">
        <h6 class="m-0 font-weight-bold text-primary align-middle">Deductions</h6>
      </div>
      <div class="col-md-2 float-right">
        <a class="btn btn-success float-right" href="/lineitem/{{lineitem.id}}/add" role="button">Add Deduction</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {{#each deductions}}
          <tr>
            <td>{{formatDate timestamp}}</td>
            <td>{{formatMoney amount}}</td>
            <td>
              <a class="btn btn-primary mr-1" href="/deduction/{{id}}" role="button">Edit</a><button class="btn btn-danger delete" data-id="{{id}}" role="button">Delete</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{#each successes}}
  <div class="alert alert-success" role="alert">
    {{this}}
  </div>
{{/each}}
{{#each errors}}
  <div class="alert alert-danger" role="alert">
    {{this}}
  </div>
{{/each}}

<form>
  <div class="form-group">
    <label for="number">Number</label>
    <input type="number" class="form-control" value="{{lineitem.number}}" id="number">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" value="{{lineitem.name}}" id="name">
  </div>
  <div class="form-group">
    <label for="categorySelect">Category</label>
    <select class="form-control" id="categorySelect">
      {{#each categories}}
        <option {{#is ../lineitem.CategoryID ID}}selected{{/is}} value={{ID}}>{{Name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="originalBal">Orignal Balance</label>
    <input type="number" value="{{lineitem.originalbalance}}" class="form-control" id="originalBal">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" value="{{lineitem.description}}" class="form-control" id="description">
  </div>
  <button type="submit" class="btn btn-primary mb-4" id="submit">Submit</button>
</form>

<script>
    function submit(e) {
        var number_dom_element = document.getElementById('number');
        var name_dom_element = document.getElementById('name');
        var originalBal_dom_element = document.getElementById('originalBal');
        var categorySelect_dom_element = document.getElementById('categorySelect');
        var description_dom_element = document.getElementById('description');
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: window.location.pathname,
            data: { 
              number: number_dom_element.value, 
              name: name_dom_element.value,
              originalBal: originalBal_dom_element.value,
              categorySelect: categorySelect_dom_element.value,
              description: description_dom_element.value 
            },
            success: function() {
                window.location.reload();
            },
            failure: function() {
                window.location.reload();
            },
        });
    }

    var submit_dom_element = document.getElementById('submit');
    submit_dom_element.addEventListener('click', submit);
</script>